:root {
  --card-bg: #FFF;
  --main-bg: #D3E3F3;
  --nav-bg: #30A953;
  --nav-fg: #EBEBEB;
  --list-even: #ffffff;
  --list-odd: #f2e2e2;
  --xlist-even: #D3E3F3;
  --xlist-odd: #77A6F7;
  --header-fg: #351F39;
}

:root-z {
  --main-bg: #2B3E50;
  --nav-bg: #3AAFA9;
  --nav-fg: #EBEBEB;
  --list-even: #EAE7DC;
  --list-odd: #A8D0E6;
  --card-bg: #abb6c2;
  --header-fg: #351F39;
}

:root-y {
  --main-bg: #726A95;
  --nav-bg: #351F39;
  --nav-fg: #e3e3e3;
  --list-even: #A0C1B8;
  --list-odd: #709FB0;
  --card-bg: #F4E8C1;
  --header-fg: #351F39;
}

:root-x {
  --main-bg: coral;
  --nav-bg: #303c6c;
  --nav-fg: #e3e3e3;
  --list-even: #d2fdff;
  --list-odd: #b4dfe5;
  --card-bg: #fbe8a6;
  --header-fg: #303c6c;
}

html {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: responsive 16px 18px;
  font-range: 420px 1280px;
  color: #222222;
  background-color: var(--main-bg);
  /*
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,.5) 10px, rgba(255,255,255,.5) 200px);
   */
  /*
   *
  background: repeating-linear-gradient(
    0deg,
    #d0d0d0,
    #d0d0d0 35px,
    #707070 35px,
    #707070 37px,
    #d0d0d0,50px,
    #d0d0d0 59px,
    #707070 59px,
    #707070 64px,
    #d0d0d0 70px
  );
  xbackground: repeating-linear-gradient(
    0deg,
    #d0d0d0,
    #d0d0d0 10px,
    #202020 10px,
    #202020 11px,
    #d0d0d0 11px,
    #d0d0d0 15px,
    #707070 15px,
    #707070 20px
  );
  */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

.container {
  padding: 5vh 0.5rem;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
}

#menu-outer {
  height: 84px;
}

.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

ul.nav {
  text-align: center;
  min-width: 696px;
  list-style: none;
}

ul.nav li {
  display: inline-block;
  padding: 5px;
}

ul.list {
  list-style: none inside none;
  padding-left: 0;
}

#videoListHolder {
  border-radius: 30px;
}

#videoListHolder .video-item {
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

ul.list img {
  cursor: pointer;
}

#nav {
  max-width: 992px;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
}

div.loggedout {
  display: flex;
  height: auto;
  background: var(--nav-bg);
  border-radius: 0.5rem;
  padding: 0px;
}

#nav ul {
  display: flex;
  text-align: center;
  list-style: none;
  background: var(--nav-bg);
  color: var(--nav-fg);
  padding: 5px;
  justify-content: space-between;
  border-radius: 0.5rem;
  flex-grow: 1;
  margin: 0px;
}

#nav ul.right {
  display: flex;
  text-align: center;
  list-style: none;
  padding: 5px;
  justify-content: flex-end;
  border-radius: 0.5rem;
  flex-grow: 0;
}

#nav ul li {
  display: inline-block;
  padding: 9px;
  justify-content: space-between;
  border-radius: 0.5rem;
  font-weight: bold;
}

#nav ul li.button {
  background-color: #f0f0f0;
  color: var(--header-fg);
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
}

#nav ul li div {
  display: inline-block;
  padding: 1px;
}
#nav ul li a {
  text-decoration: none;
}

ul.list li {
  padding: 5px;
  border-radius: 3px;
  border-bottom: 0px dotted #a0a0a0;
  border-right: 0px dotted #a0a0a0;
  width: 96%;
  background: var(--list-even);
}

ul.list li:nth-child(odd) {
    background: var(--list-odd);
}

ul.list li div {
  display: flex;
  justify-content: space-between;
}

div.new-item-form {
  display: flex;
  justify-content: space-between;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  /*  color: var(--accent-color); */
}

pre {
  font-size: 0.85rem;
}
button,
input,
select,
textarea {
  background-color: transparent;
  border: none;
  color: inherit;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'] {
  width: 85%;
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  border-radius: 10px;
  /*  &:hover {
  background-color: rgba(255,255,255,0.15);
  }
  &:focus {
  border: 0.05rem solid var(--accent-color); 
  }*/
}

button {
  cursor: pointer;
  padding: 0.5rem;
}

button:hover {
  /* color: var(--accent-color) */
}

h3 {
  color: var(--header-fg);
}

img {
  max-width: 100%;
}

svg {
  fill: none;
}

::selection {
  /*  background: var(--accent-color);
  color: var(--background-color); */
}

#name {
  flex-grow: 0;
}

.card {
  padding: 1rem;
  background: var(--card-bg);
  border-radius: 1rem;
  display: flex;
  min-height: 420px;
  /* This aligns items to the end line on main-axis */
}

.card > * {
  padding-right: 10px;
  padding-left: 10px;
  flex: 1 100%;
}

.card .top {
  text-align: center;
  margin: auto;
  width: 100%;
}

.card .left {
  width: 50%;
}

.card .right {
  width: 50%;
}

.card .right .info {
  padding: 1rem;
  margin: auto 0 0 0;
  font-size: 0.67rem;
  opacity: 0.67;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .card {
    border-radius: 0;
    flex-direction: column;
  }

  .card .left,
  .card .right {
    width: 100%;
  }
}
iframe {
  border: 1px solid lightgrey;
}

#okta-sign-in {
  margin-top: 10px;
}

@media only screen and (max-height: 750px) {
  #okta-sign-in {
    margin-top: 10px;
    padding-top: 10px;
  }
}
