html {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: responsive 16px 18px;
  font-range: 420px 1280px;
  color: #222222;
  background-color: #fafafa;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

.container {
  padding: 5vh 0.5rem;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
}

#menu-outer {
  height: 84px;
}

.table {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}

ul.nav { 
  text-align: center; 
  min-width: 696px;
  list-style: none;
}

ul.nav li { 
  display: inline-block; 
  padding: 5px;
}

ul.list { 
  list-style: none;
}

ul.list img {
  cursor: pointer;
}

#nav {
  max-width: 992px;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
}

div.loggedout { 
 display: flex;
 height: auto;
 background: rgb(78, 195, 189);
 border-radius: 0.5rem;
 padding: 0px;
}

#nav ul { 
 display: flex;
 text-align: center; 
 list-style: none;
 background: rgb(78, 195, 189);
 padding: 5px;
 justify-content: space-between; 
 border-radius: 0.5rem;
 flex-grow: 1;
 margin: 0px;
}

#nav ul.right { 
 display: flex;
 text-align: center; 
 list-style: none;
 background: rgb(78, 195, 189);
 padding: 5px;
 justify-content: flex-end; 
 border-radius: 0.5rem;
 flex-grow: 0;
}

#nav ul li { 
  display: inline-block;
  padding: 9px;
  justify-content: space-between; 
  border-radius: 0.5rem;
  font-weight: bold;
}

#nav ul li.button {
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between; 
  margin-left: 5px;
}

#nav ul li div {
  display: inline-block;
  padding: 1px;
}
#nav ul li a {
  text-decoration: none;
}

ul.list li { 
  padding-top: 10px;
  border-bottom: 1px solid gray;
  width: 96%;
}

ul.list li div {
  display: flex; 
  justify-content: space-between;
}

div.new-item-form {
  display: flex; 
  justify-content: space-between;
}


a {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  /*  color: var(--accent-color); */
}



pre {
  font-size: 0.85rem;
}
button, input, select, textarea {
  background-color: transparent;
  border: none;
  color: inherit;
}


button:focus, input:focus, select:focus, textarea:focus {
  outline: none;
}


input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  width: 70%;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border-radius: 3rem;
  /*  &:hover {
  background-color: rgba(255,255,255,0.15);
  }
  &:focus {
  border: 0.05rem solid var(--accent-color); 
  }*/
}

button {
  cursor: pointer;
  padding: 0.5rem;
}

button:hover {
  /* color: var(--accent-color) */
}

img {
  max-width: 100%;
}

svg {
  fill: none;
}

::selection {
  /*  background: var(--accent-color);
  color: var(--background-color); */
}


#name {
 flex-grow: 0;
}

.card {
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 1rem;
  display: flex;
  min-height: 420px;
  /* This aligns items to the end line on main-axis */
}

.card > * {
 padding-right: 10px;
 padding-left: 10px;
 flex: 1 100%;
}

.card .top {
  text-align: center;
  margin: auto;
  width: 100%;
}

.card .left {
  width: 50%;
}

.card .right {
  width: 50%;
}

.card .right .info {
  padding: 1rem;
  margin: auto 0 0 0;
  font-size: 0.67rem;
  opacity: 0.67;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .card {
    border-radius: 0;
    flex-direction: column;
  }

  .card .left, .card .right {
    width: 100%;
  }
}
iframe {
  border:1px solid lightgrey;
}

#okta-sign-in {
    margin-top: 10px;
}

@media only screen and (max-height:750px) {
 #okta-sign-in {
    margin-top: 10px;
    padding-top: 10px;
 }
}
